
.clearfix:after{display:block; content:""; clear:both;}
.header_top
    padding-top 16px
    .kuai
        width 4px
        height 22px
        display inline-block
        background-color #409EFF
        vertical-align middle
    .text
        display inline-block
        font-family MicrosoftYaHei
        color #606060
        margin-left 21px
        vertical-align middle
        font-size 20px
xianshi()
    width 24px
    height 24px

    border-radius 50%
    margin-left 5px
    margin-top 5px
    color #ffffff
    text-align center
    line-height 24px
    font-size 14px
    font-family MicrosoftYaHei
barsty()
    width 34px
    height 34px
    border-radius 50%
    background-color #f0f6fd
