// .clearfix:after{display:block; content:""; clear:both;}
// .othertable{
//   .el-table--scrollable-x .el-table__body-wrapper {
//     overflow-x: hidden;
//   }
//   .pagination{
//     .pagina{
//       float right
//       padding 50px 20px 10px 0px
//     }
//   }
// }
// .el-transfer-panel__header {
//   background: $themeColor;
//   color: #fff;
// }
// .item-name {
//   cursor: pointer;
//   &:hover {
//     color: $themeColor;
//   }
// }
// .el-icon-arrow-right {
//   margin: 0 20px;
// }
// .store {
//   width: 310px;
// }
// .red {
//   color: $themeSubColor;
// }
// .transfer-wrapper {
//   text-align: center;
// }
//    .small_top{
//     margin-top: 10px;
//   }
//   .addfocus{
//     position: absolute;
//     right: 30px;
//   }
//   .information{
//     background:#f7faff;
//     position: absolute;
//     top: -2px;
//     width: 100%;
//     left: 0px;
//     height: 56px;
//     line-height: 56px;
//     text-align: left;
//     display: flex;
//     .tent_span{
//       margin-right: 10px;
//       font-family: MicrosoftYaHei;
//     }
//     .tent_span:first-child{
//       margin-left: 3%;
//     }
//     .addfocus{
//       .text{
//         font-size: 14px
//         font-family: MicrosoftYaHei;
//       }
//     }
//   }
//   .top{
//     margin-top: 56px;
//   }
//   .content{
//     width: 100%;
//     padding: 20px;
//     text-align: left;
//     display: flex;
//     align-items: center;
//     .content_img{
//       width: 70px;
//       height: 70px;
//       margin-left: 2%
//     }
//   }
//   .name{
//       width: 6%;
//       text-align: center;
//     }
//   .baoguo{
//     width:100%;
//   }
//   .el-table__body tr:hover>td{
//     background-color: green !important;
//   }
 
//   .el-table__body tr.current-row>td{
//     background-color: red !important;
//   }
//   .el-table--enable-row-hover .el-table__body tr:hover>td{
//     background-color: #212e3e !important;
//   }